.functions{
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.functions h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.functions p{
    font-size: 15px;
    margin: 20px 0;
    text-align: center;
    padding: 0px 15px;
}
.functions-card{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.functions-card-img{
    height: 230px;
}
.functions-card-h3{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.functions-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.functions-card-p{
    text-align: center;
    padding: 0 20px;
}
@media(min-width: 550px) {
    .functions h2{
        font-size: 30px;
    }
    .functions p{
        font-size: 20px;
    }
    .functions-card-h3{
        font-size: 25px;
    }
    .functions-card-img{
        height: 290px;
    }
}
@media(min-width: 768px) {
    .functions-card{
        flex-direction: row;
    }
    .card-img-1, .card-img-2, .card-img-3, .card-img-4{
        width: 50%;
    }
    .functions-card-img{
        width: 100%;
        height: auto;
    }
    .card-img-2, .card-img-4{
        order: 2;
    }
}
@media(min-width: 1000px) {
    .functions h2{
        font-size: 35px;
    }
    .functions p{
        font-size: 25px;
    }
    .functions-card-h3{
        font-size: 30px;
    }
    .functions-card-p{
        font-size: 25px!important;
    }
}
