.pilars{
    padding: 50px 40px;
    background: linear-gradient(#183D85, #26498C);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pilars h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.pilars p{
    font-size: 15px;
    margin-bottom: 30px;
}
.pilars-card{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pilars-card-img{
    height: 110px;
}
.pilars-card-h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.pilars-card-p{
    text-align: center;
    padding: 0 50px;
}
.pilars-texto{
    width: 100%;
}
@media(min-width: 550px) {
    .pilars h2{
        font-size: 30px;
    }
    .pilars p{
        font-size: 20px;
    }
    .pilars-card-h3{
        font-size: 25px;
    }
    .pilars-card-img{
        height: 150px;
    }
}
@media (min-width: 768px) {
    .pilars-cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media(min-width: 1000px) {
    .pilars h2{
        font-size: 35px;
        text-align: center;
    }
    .pilars p{
        font-size: 25px;
        text-align: center;
    }
}

